# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: VisLies 2019
email: vislies2019@vislies.org
description: >- # this means to ignore newlines until "baseurl:"
  VisLies! showcases examples of egregious perceptual, cognitive, and
  conceptual errors in visualization, presented by members of the Vis
  community.
baseurl: "/2019" # the subpath of your site, e.g. /2018
url: "http://www.vislies.org" # the base hostname & protocol for your site
#twitter_username: jekyllrb
#github_username:  jekyll

this-year: 2019
first-year: 2015

gallery-ready: true

# Build settings
markdown: kramdown
#theme: jekyll-theme-minimal
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
